<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.grp15.cmpe272.unitedwayapp.bornlearning">
    <uses-feature android:name="android.hardware.screen.portrait" />
    <application>
        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait" >
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="pixelconic.com"
                    android:pathPattern="/.*"
                    android:scheme="https" />

            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".development.schoolreadiness.SchoolReadinessActivity"
            android:screenOrientation="portrait" >
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="pixelconic.com"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".development.DevelopmentActivity"
            android:screenOrientation="portrait" >
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="pixelconic.com"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".profile.ChildrenProfileActivity"
            android:screenOrientation="portrait"
            android:label="Children Profile">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="pixelconic.com"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".profile.child.ChildProfileActivity"
            android:screenOrientation="portrait" >
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="pixelconic.com"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".development.AssessmentActivity"
            android:screenOrientation="portrait" >
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="pixelconic.com"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".development.HistoryActivity"
            android:screenOrientation="portrait" >
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="pixelconic.com"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".profile.QuestionImplementationActivity"
            android:screenOrientation="portrait" >
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="pixelconic.com"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait" >
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="pixelconic.com"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".development.infrastructure.InfrastructureActivity"
            android:screenOrientation="portrait" >
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="example.com"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".development.communityreadiness.CommunityReadinessActivity"
            android:screenOrientation="portrait" >
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="example.com"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>
    </application>

</manifest>